.container{
    position: relative;
    top: 5px;
    width: 1̀̀500px;
    margin: 0 auto;
    height: 1000px;
    border: 2px solid black;
    box-shadow: 0 0 15px black;
}
.container>iframe{
    width: 75%;
    height: 95%;
    float: left;
}
.container>.right{
    width: 23%;
    height: 100%;
    float: left;
}
.container>.right>a{
    text-decoration: none;
    height: 150px;
}
img{
    width: 100%;
    height: 300px;
    padding: 20px;
    text-align: center;
}
.hi{
    width:30%;
    height:35%;
}
.card {
    background-color: rgb(192, 180, 180);
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}
.footer{
    padding: 10px;
    text-align: center;
    background: rgb(173, 169, 163);
    margin-top: 10px;
}
.footer1{
    float: left;
    width: 50%;
    font-size: x-large;
}
.footer2{
    float: left;
    width: 50%;
}
.footer2 > img{
    width:400px;
    height:200px;
}
.footer:after{
    content: "";
    display: table;
    clear: both;
}
